<!DOCTYPE html>
<html class="no-js" lang="en">
@Scripts.Render("~/bundles/jquery")

@Scripts.Render("~/bundles/jqueryui")

<head>
    <meta charset="utf-8" />

    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Radabite</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/foundation/css")
    @Styles.Render("~/Content/Radabite")

    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/modernizr")

	<script>
		//tracking
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		//When this is on a public url:
			//ga('create', 'UA-49653336-1', 'actual url');
		ga('create', 'UA-49653336-1', {'cookieDomain': 'none'});
		ga('send', 'pageview');

	</script>
</head>
<body>
    @Html.Partial("~/Client/WebClient/Views/Shared/_NavigationBar.cshtml", Request.Params)
    @RenderBody()
	@Scripts.Render("~/bundles/foundation")
    <script>
		$(document).foundation();
    </script>
    @*Use the Scripts section to define page specific scripts*@
    @RenderSection("scripts", required: false)
</body>
</html>