<div class="contain-to-grid fixed">
    <nav class="top-bar" data-topbar>
        <ul class="title-area inline-list">
            <li class="name">
				<img style="float: left; width: auto; height: 90%; padding-top: 5px;" src="~/Client/WebClient/Content/Images/RadabiteSharp.png" width="40" height="40" alt="Logo" />
			</li>
			<li class="name">
					<h1><a style="padding-left: 3px">Radabite</a></h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#"><span>Menu</span></a>
            </li>
        </ul>

        <section class="top-bar-section">
            <ul class="left">
                @if(User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Profile", "../UserProfile/CurrentUser")</li>
                    <li><a data-reveal-id="CreateEventModal" href="#" id="CreateEventButton">Create</a></li>
                    <li>@Html.ActionLink("Discover", "../Event/DiscoverEvent", new { u = User.Identity.Name })</li>
				}
                <li>@Html.ActionLink("About", "../Home/About")</li>
            </ul>
            <div class="right">
                @Html.Partial("~/Client/WebClient/Views/Shared/_LoginPartial.cshtml")
            </div>
        </section>
    </nav>
</div>

@Html.Partial("~/Client/WebClient/Views/Shared/_CreateEventModal.cshtml", new Radabite.Models.EventModel())
