@model Radabite.Models.EventModel

@if (Model.Owner.Id == Model.CurrentUser.Id)
{
	<div style="overflow: auto; height: 250px">
		<h3>Poll Results</h3>
		<table>
			<thead>
				<tr>
					<th>Time</th>
					<th>Votes</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var votedTime in Model.GetVoteDictionary())
				{
					<tr>
						<td>@votedTime.Key</td>
						<td><span data-tooltip class="has-tip" title="@Html.Partial("_VotersPartial", votedTime)">@votedTime.Value.Count</span></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<div class="panel" id="vote-panel">
		<h3>Suggest an alternative time:</h3>
		<div class="row">
			<div class="small-12 columns">
				<input type="datetime-local" name="time-vote" step="1800">
			</div>
		</div>
		<div class="row">
			<div class="small-11 columns" style="direction:rtl">
				<a class="radius button" onclick="ProcessVote(this, '@Url.Action("/Vote")')" href="#vote">Submit</a>
			</div>
		</div>
	</div>
}

<script type="text/javascript">
	function ProcessVote(a, action) {

		var resultDiv = $('#vote-panel');

		var v = $('input[name="time-vote"]').val();
		var e = "@Model.Id";
		var u = "@User.Identity.Name";

		$.ajax({
			type: "POST",
			url: action,
			data: {
				eventId: e,
				userName: u,
				vote: v
			},
			dataType: "html",
			success: function (response) {
				//make this      vvv   response once you figure it out
				resultDiv.html(response);
				$('input[name="time-vote"]').val("");
			}
		});
	}
</script>