@using Radabite.Models

@model EventModel

<div class="panel">
    <form method="post" action="/Event/AddPost">
        <input type="text" name="message" placeholder="Enter a Message to post!" />
        <a href="#" id="radabite-post" class="radius button">Post</a>
    </form>
</div>
@foreach (var post in Model.Posts)
{
<div class="panel">
    <div class ="row">
        <div class="large-3 medium-3 columns">
            <img src="@post.From.PhotoLink" alt="" />
        </div>
        <div class="large-9 medium 9 columns">
            <p>
                <a href="/Home/UserProfile?userid=@post.From.Id">@post.From.DisplayName</a>
            </p>
            <p>@post.Message</p>
            <div class="row">
                <div class="large-3 medium-3 columns">
                    Likes: @post.Likes
                </div>
                <div class="large-9 medium-9 columns" style="direction:rtl">
                    Sent at: @post.SendTime
                </div>
            </div>
        </div>
    </div>
</div>
}

<script type="text/javascript">
    $('a#radabite-post').click(function () {
        var m = $(this).siblings('input').val();
        var e = @Model.Id;
        var u = "@User.Identity.Name";
        console.log(m);
        $.ajax({
            url: "/Event/PostFromRadabite",
            type: 'POST',
            dataType: "json",
            data: {
                userName: u,
                eventId: e,
                message: m
            },
            traditional: true
        });
    });
</script>
