@using Radabite.Models

@model EventModel

@foreach (var post in Model.Posts)
{
<div class="panel">
    <div class ="row">
        <div class="large-3 medium-3 columns">
            <img style="border: 1px black solid" src="@post.From.PhotoLink" alt="" />
        </div>
        <div class="large-9 medium 9 columns">
            <p>
                <a href="/UserProfile?u=@post.From.Id">@post.From.DisplayName</a>
            </p>
            @if (post.BlobId != null)
            {
                <img style="border: 1px black solid" src="@Url.Action("getImg", "Event", new { blobId = post.BlobId, mimetype = post.Mimetype })" alt="Post Image" />
            }
            <p>@post.Message</p>
            <div class="row">
                <div class="large-3 medium-3 columns">
                    Likes: @post.Likes
                </div>
                <div class="large-9 medium-9 columns" style="direction:rtl">
                    Sent at: @post.SendTime
                </div>
            </div>
        </div>
    </div>
</div>
}