@using Radabite.Models

@{
	ViewBag.Title = "Event";
}

@model EventModel

<div class="row">
	<hgroup class="title">
		<h2>@ViewBag.Message</h2>
	</hgroup>
</div>

<div class="row">
    <div class="large-8 medium-8 columns">
    	<h3>Title: @Model.Title</h3>
    </div>
    <div class="large-2 medium-2 columns" style="direction:rtl">
        <a class="radius button" data-reveal-id="UpdateEventModal" href="#">Edit</a>
    </div>
    <div class="large-2 medium-2 columns">
        <a class="radius button" data-reveal-id="DeleteEventModal" href="#" style="background-color:rgb(199, 15, 15)">Delete</a>
    </div>
</div>

<div class="row">
	<h4>Description: @Model.Description</h4>
</div>

<div class="row">
	<h5>Time: @Model.StartTime - @Model.EndTime</h5>
	<h5>Location: @Model.LocationName</h5>
    @{if (Model.IsPrivate) { <h5>Privacy: Private</h5> }
      else
      { <h5>Privacy: Public</h5> } }
</div>

<br />
<div class="row">
    <div class="panel">
        <div class="row">
            <div class="large-12 medium-12 columns">
                <form method="post" action="/Event/AddPost">
                    <input type="text" name="message" placeholder="Enter a Message to post!" />
                    <input type="submit" value="Post" />
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @foreach (var post in Model.Posts)
    {
        <div class="panel">
            <div class ="row">
                <div class="large-3 medium-3 columns">
                   <img src="@post.From.PhotoLink" alt="" />
                </div>
                <div class="large-9 medium 9 columns">
                    <p>
                        <a href="/Home/UserProfile?userid=@post.From.Id">@post.From.DisplayName</a>
                    </p>
                    <p>@post.Message</p>
                    <div class="row">
                        <div class="large-3 medium-3 columns">
                            Likes: @post.Likes
                        </div>
                        <div class="large-6 medium-6 columns" style="direction:rtl">
                            Sent at: @post.SendTime
                        </div>
                    </div>
                </div>
            </div>
       </div>
    }
</div>

@Html.Partial("~/Client/WebClient/Views/Shared/_UpdateEventModal.cshtml", Model)

<div id="DeleteEventModal" class="reveal-modal small" data-reveal>
    <h4>Are you sure you want to delete this event?</h4>
    <br />
    <div class="row">
        <div class="medium-12 medium-centered columns">
            @using (Html.BeginForm("Delete", "Event", Model, FormMethod.Post))
            {
                <input type="submit" value="Yes, Delete" />
            }
            @*<a class="radius button" id="confirm-delete" href="#" style="background-color:rgb(199, 15, 15)">Yes, Delete!</a>
            <a class="radius button" id="cancel-delete" href="#">No, Keep my Event!</a>*@
        </div>
    </div>
    
    
    <a class="close-reveal-modal">&#215;</a>
</div>

<script type="text/javascript">
    $(document).on('click', '#cancel-delete', function () {
        $('#DeleteEventModal').foundation('reveal', 'close');
    });
    /*$(document).on('click', '#confirm-delete', function () {
        $('#DeleteEventModal').foundation('reveal', 'close');
        $.post("Url.Action("Delete")", function (data) {
            // do stuff;
        });
    });*/
</script>
