@using Radabite.Models

@{
	ViewBag.Title = "Event";
}

@model EventModel

<style>
	#event-map img {
		max-width: inherit;
	}
</style>



<br />
<div class="row">

	<div class="small-8 columns">
		<h1>@Model.Title</h1>
	</div>

	@if (Model.CurrentUser.Id == Model.Owner.Id)
	{
		<div class="small-2 columns" style="direction:rtl">
			<a class="radius button" data-reveal-id="UpdateEventModal" href="#">Edit</a>
		</div>
		<div class="small-2 columns">
			<a class="radius button" data-reveal-id="DeleteEventModal" href="#" style="background-color:rgb(199, 15, 15)">Delete</a>
		</div>
	}
	else
	{
		<div class="small-4 columns"></div>
	}
</div>



<div class="row">
	<div class="small-6 columns">
		<h4>@Model.Description</h4>
		<table style="width: 100%; border: none">
			<tr>
				<th style="text-align: right">Start:</th>
				<td>@Model.StartTime</td>
			</tr>
			<tr style="background: none">
				<th style="text-align: right">End:</th>
				<td>
				@Model.EndTime</td>
			</tr>
			<tr>
				<th style="text-align: right">Location:</th>
				<td>@Model.LocationName</td>
			</tr>
		</table>

		@if (Model.Longitude != -1000)
		{
			<dl class="accordion" data-accordion="myAccordionGroup">
				<dd>
					<a href="#Map" onclick="setTimeout(function(){google.maps.event.trigger(lMap, 'resize');}, 100);">Map</a>
					<div id="Map" class="content">
						<div id="event-map" style="width: 100%; height: 300px"></div>
						<div style="text-align: center">
							<a href="javascript:GetDirections()" class="button radius">Get Directions</a>
						</div>
					</div>
				</dd>
			</dl>

			<script>
				var marker;
				var lMap;
				$(document).ready(function() {
					var mapOptions = {
						zoom: 12,
						draggableCursor: 'default'
					};
					lMap = new google.maps.Map(document.getElementById("event-map"),
						mapOptions);

					marker = new google.maps.Marker({
						map: lMap
					});

					google.maps.event.trigger(lMap, 'resize');

					var latLng = new google.maps.LatLng('@Model.Latitude', '@Model.Longitude');

					lMap.setCenter(latLng);
					marker.setPosition(latLng);
				});

				function GetDirections() {
					if (navigator.geolocation) {
						navigator.geolocation.getCurrentPosition(positionSuccessM, positionFailM);
					} else {
						positionFail(-1);
					}
				}
				function positionSuccessM(position) {
					var coords = position.coords || position.coordinate || position;
					var userLL = new google.maps.LatLng(coords.latitude, coords.longitude);
					window.open('http://maps.google.com/maps?q=from+' + userLL.toUrlValue() + '+to+' + marker.position.toUrlValue());
				}

				function positionFailM(err) {
					if(err == -1) {
						alert('Must enable geolocation to get directions');
					} else {
						alert('Error getting directions');
					}
				}
			</script>
		}
		@{if (Model.IsPrivate)
		{ 
			<a class="button round secondary" disabled>Private</a>	
		}
		else
		{
			<a class="button round" disabled>Public</a>	
		} }
	</div>
	<div class="small-6 columns">
		@if (Model.PollIsActive)
		{
			@Html.Partial("~/Client/WebClient/Views/Event/_PollPartial.cshtml", Model);
		}
	</div>
</div>

<br />
<div class="row">
	<div class="large-4 medium-4 columns" id="invitation-container">
		<div id="invitations">
			@Html.Partial("~/Client/WebClient/Views/Event/_InvitationPanel.cshtml", Model)
		</div>
	</div>
	<div id="post-container" class="large-8 medium-8 columns">
		<div class="panel" id="post-editor">
			<input type="text" name="post-content" placeholder="Enter a Message to post!" />
			<div class="row">
				<div class="medium-8 large-8 columns">
					<input type="checkbox" name="to-facebook" value="" />  Post to Facebook?
				</div>
				<div class="medium-4 large-4 columns">
					<a onclick="ProcessPost(this,'@Url.Action("/PostFromRadabite")')" href="#posts" class="radius button">Post</a>
				</div>
			</div>
		</div>
		<div id="posts">
			@Html.Partial("~/Client/WebClient/Views/Event/_PostFeed.cshtml", Model)
		</div>
	</div>
</div>

@Html.Partial("~/Client/WebClient/Views/Shared/_UpdateEventModal.cshtml", Model)


<div id="DeleteEventModal" class="reveal-modal small" data-reveal>
	<h4>Are you sure you want to delete this event?</h4>
	<br />
	<div class="row">
		<div class="medium-12 medium-centered columns">
			@using (Html.BeginForm("Delete", "Event", Model, FormMethod.Post))
			{
				<input type="submit" value="Yes, Delete" id="DeleteSubmitButton" />
			}
			@*<a class="radius button" id="confirm-delete" href="#" style="background-color:rgb(199, 15, 15)">Yes, Delete!</a>
				<a class="radius button" id="cancel-delete" href="#">No, Keep my Event!</a>*@
		</div>
	</div>

	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="InviteModal" class="reveal-modal small" data-reveal style="height:400px">
	@Html.Partial("_InviteFriends", Model)
	<br />
	<div class="row">
		<a class="radius button" onclick="ProcessInvitations(this,'@Url.Action("/Invite")')" href="#invitations">Submit Invitations</a>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>

<script type="text/javascript">
	$(document).on('click', '#cancel-delete', function () {
		$('#DeleteEventModal').foundation('reveal', 'close');
	});
	/*$(document).on('click', '#confirm-delete', function () {
        $('#DeleteEventModal').foundation('reveal', 'close');
        $.post("Url.Action("Delete")", function (data) {
            // do stuff;
        });
    });*/
</script>

<script type="text/javascript">
	function ProcessPost(a, action) {

		var container = $(a).parents('div#post-container');
		var resultDiv = $($(a).attr('href'), container);

		var m = $('input[name="post-content"]').val();
		var e = "@Model.Id";
		var u = "@User.Identity.Name";
		var f = $('input[name="to-facebook"]').is(':checked');

		$.ajax({
			type: "POST",
			url: action,
			data: {
				userName: u,
				eventId: e,
				message: m,
				toFacebook: f
			},
			dataType: "html",
			success: function (response) {
				resultDiv.html('');
				resultDiv.html(response);
				$('input[name="post-content"]').val("")
			}
		});
	}
</script>

<script type="text/javascript">
	function ProcessComment(a, action, pId) {

		var container = $(a).parents('div#post-container');
		var resultDiv = $($(a).attr('href'), container);

		console.log(pId);
		var m = $(a).parent().siblings().children('input[name="comment-content"]').val();
		var e = @Model.Id;
		var p = pId;
		var u = "@User.Identity.Name";

		$.ajax({
			type: "POST",
			url: action,
			data: {
				eventId: e,
				postId: p,
				userName: u,
				message: m
			},
			dataType: "html",
			success: function(response) {
				resultDiv.html('');
				resultDiv.html(response);
				$('input[name="comment-content"]').val("")
			}
		});
	}
</script>

<script>
	var invitationList = [];
	var modelId = @Model.Id

    $('a#invite').click(function () {
    	if ($(this).text() == "Invite") {
    		$(this).attr("style", "background-color:rgb(199, 15, 15)");
    		$(this).text("Cancel");
    		invitationList.push($(this).parent().siblings('div#friendId').text());
    	} else {
    		$(this).attr("style", "background-color:#008cba");
    		$(this).text("Invite");
    		invitationList.splice($.inArray($(this).parent().siblings('div#friendId').text(), invitationList), 1);
    	}
    });

	function ProcessInvitations(a, action) {

		var container = $('div#invitation-container');
		var resultDiv = $($(a).attr('href'), container);
		console.log(container);
		console.log(resultDiv);
		console.log(invitationList);
		$.ajax({
			type: "POST",
			url: action,
			data: {
				friends: invitationList,
				eventId: modelId
			},
			traditional: true,
			dataType: "html",
			success: function (response) {
				resultDiv.html('');
				resultDiv.html(response);
			}
		});

		$('a.close-reveal-modal').trigger('click');
	}
</script>


@Scripts.Render("~/Client/WebClient/Scripts/google-analytics-eventindex.js")
