@using Radabite.Models

@{
	ViewBag.Title = "Event";
}

@model EventModel

<br />  
<div class="row">
    <div class="large-8 medium-8 columns">
    	<h3>Title: @Model.Title</h3>
    </div>
    <div class="large-2 medium-2 columns" style="direction:rtl">
        <a class="radius button" data-reveal-id="UpdateEventModal" href="#" id="EditEventButton">Edit</a>
    </div>
    <div class="large-2 medium-2 columns">
        <a class="radius button" data-reveal-id="DeleteEventModal" href="#" style="background-color:rgb(199, 15, 15)" id="DeleteEventButton">Delete</a>
    </div>
</div>

<div class="row">
    <div class="large-12 medium-12 columns">
	<h4>Description: @Model.Description</h4>
	    <h4>Time: @Model.StartTime - @Model.EndTime</h4>
	    <h4>Location: @Model.LocationName</h4>
        @{if (Model.IsPrivate) 
            { <h4>Privacy: Private</h4> }
      else
            { <h4>Privacy: Public</h4> } }
    </div>
</div>

<br />
<div class="row">
    <div class="large-4 medium-4 columns">
        @Html.Partial("~/Client/WebClient/Views/Event/_InvitationPanel.cshtml", Model)
    </div>
    <div id="post-container" class="large-8 medium-8 columns">
        <div class="panel" id="post-editor">
            <input type="text" name="message" placeholder="Enter a Message to post!" />
            <a onclick="ProcessPost(this,'@Url.Action("/PostFromRadabite")')" href="#posts" class="radius button">Post</a>
        </div>
        <div id="posts">
            @Html.Partial("~/Client/WebClient/Views/Event/_PostFeed.cshtml", Model)
        </div>
    </div>
</div>

@Html.Partial("~/Client/WebClient/Views/Shared/_UpdateEventModal.cshtml", Model)

<div id="DeleteEventModal" class="reveal-modal small" data-reveal>
    <h4>Are you sure you want to delete this event?</h4>
    <br />
    <div class="row">
        <div class="medium-12 medium-centered columns">
            @using (Html.BeginForm("Delete", "Event", Model, FormMethod.Post))
            {
                <input type="submit" value="Yes, Delete" id="DeleteSubmitButton" />
            }
            @*<a class="radius button" id="confirm-delete" href="#" style="background-color:rgb(199, 15, 15)">Yes, Delete!</a>
            <a class="radius button" id="cancel-delete" href="#">No, Keep my Event!</a>*@
        </div>
    </div>
    
    <a class="close-reveal-modal">&#215;</a>
</div>
    
<div id="InviteModal" class="reveal-modal small" data-reveal style="height:400px">
    @Html.Action("_InviteFriends", "Event", new { u = User.Identity.Name, eventId = Model.Id })
    <a class="close-reveal-modal">&#215;</a>
</div>

<script type="text/javascript">
    $(document).on('click', '#cancel-delete', function () {
        $('#DeleteEventModal').foundation('reveal', 'close');
    });
    /*$(document).on('click', '#confirm-delete', function () {
        $('#DeleteEventModal').foundation('reveal', 'close');
        $.post("Url.Action("Delete")", function (data) {
            // do stuff;
        });
    });*/
</script>

<script type="text/javascript">
    function ProcessPost(a, action) {

        var container = $(a).parents('div#post-container');
        var resultDiv = $($(a).attr('href'), container);

        var m = $(a).siblings('input').val();
        var e = @Model.Id;
        var u = "@User.Identity.Name";

        $.ajax({
            type: "POST",
            url: action,
            data: {
                userName: u,
                eventId: e,
                message: m
            },
            dataType: "html",
            success: function(response) {
                resultDiv.html('');
                resultDiv.html(response);
                $(a).siblings('input').val("")
            }
        });
    }
</script>

@Scripts.Render("~/Client/WebClient/Scripts/google-analytics-eventindex.js")
