@using Radabite.Client.WebClient.Models;
@using Radabite.Backend.Database;

@{
    ViewBag.Title = "Profile";
}
@model UserModel

<div class="row">
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

</div>

<br />

<div class="row">
    <div class="large-4 medium-4 columns">
        <div>
            <img style="border: 1px black solid" src="@Model.User.PhotoLink" alt="" />
        </div>
        <div class="panel">
            <p>
                <span>Name: @Model.User.DisplayName</span>
                <br />
                <span>Location: Test Location</span>
                <br />
                <span>Gender: @Model.User.Gender</span>
            </p>
        </div>
        <table style="width: 100%">
	        <thead><tr><th style="text-align: center">Friends</th></tr></thead>
		    @{Html.RenderPartial("~/Client/WebClient/Views/Shared/_UserTable.cshtml", @Model.Friends);}
        </table>
    </div>
    <div class="large-8 medium-8 columns">
        <table style="width: 100%">
	        <thead><tr><th style="text-align: center">Events</th></tr></thead>
            @{Html.RenderPartial("~/Client/WebClient/Views/Shared/_EventTable.cshtml", @Model.DiscoverEvents);}
        </table>
    </div>
</div>
