@using Radabite.Client.WebClient.Models;
@using Radabite.Backend.Database;

@{
    ViewBag.Title = "Profile";
}
@model UserModel

<div class="row">
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

</div>

<br />

<div class="row">
    <div class="large-4 medium-4 columns">
        @if (Model.User.PhotoLink == null) 
        { 
        <div style="width:302px;height:300px;border:1px black solid">
                <img src="~/Client/WebClient/Content/Images/RadabiteSharp.png" alt="" />
        </div>
        } else {
        <div>
            <img style="border: 1px black solid" src="@Model.User.PhotoLink" alt="" />
        </div>
        }
        <div class="panel">
            <p>
                @if (Model.User.DisplayName != null)
                { 
                <span>Name: @Model.User.DisplayName</span>
                }
                else { 
                <span>Name: @Model.User.UserName</span>
                }
                <br />
                @if (Model.User.Location != null && Model.User.Location != "") { 
                    <span>Location: @Model.User.Location</span>
                    <br />
                }
                @if (Model.User.Gender != null)
                {
                    <span>Gender: @Char.ToUpper(Model.User.Gender[0])@Model.User.Gender.Substring(1)</span>
                }
            </p>
        </div>
        <table style="width: 100%">
	        <thead><tr><th style="text-align: center">Friends</th></tr></thead>
		    @{Html.RenderPartial("~/Client/WebClient/Views/Shared/_UserTable.cshtml", @Model.Friends);}
        </table>
    </div>
    <div class="large-8 medium-8 columns">
        <table style="width: 100%">
	        <thead><tr><th style="text-align: center">Events</th></tr></thead>
            @{Html.RenderPartial("~/Client/WebClient/Views/Shared/_EventTable.cshtml", @Model.DiscoverEvents);}
        </table>
    </div>
</div>
